# Pandas数据结构

In [2]:
from pandas import Series
pds1=Series([1,2,3,4])
pds1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
pds2=Series([1,2,3,4],index=['a','b','c','d'])
pds2

a    1
b    2
c    3
d    4
dtype: int64

通过字典方式创建<br>
由于字典是无序的，因此指定索引排列顺序<br>
这里的索引要和data字典的key对应上

In [7]:
data={'i1':1,'i2':2,'i3':3,'i4':4}
pds3=Series(data,index=['i1','i2','i3','i4'])
pds3

i1    1
i2    2
i3    3
i4    4
dtype: int64

In [12]:
from pandas import DataFrame
data = { "name":["王晓明","李静","田海"],"sex":["男","女","男"],"aged":[20,19,21]}
#字典是无序的，因此需要通过columns指定列索引的排列顺序
df = DataFrame(data,columns=['name','sex','aged']) #这里的列要和data字典的key对应
df

  name sex  aged
0  王晓明   男    20
1   李静   女    19
2   田海   男    21

# pandas的索引操作

In [18]:
import numpy as np
obj = Series([10,20,30,40,-10],index = ["a","b","c","d","e"],dtype=np.float64)
print(obj)

print('\n')
obj1 = obj.reindex(index = ["b","c","a","d","e","n"])
print(obj1)

a    10.0
b    20.0
c    30.0
d    40.0
e   -10.0
dtype: float64


b    20.0
c    30.0
a    10.0
d    40.0
e   -10.0
n     NaN
dtype: float64

In [20]:
df=DataFrame(np.arange(9).reshape(3,3),index=['L1','L2','L3'],columns=['id1','id2','id3'])
print(df)
#对df重新索引，新增的L4行标签对应的缺失值通过fill_value参数指定为9
df1=df.reindex(index=['L1','L2','L3','L4'],fill_value=9)
print(df1)

    id1  id2  id3
L1    0    1    2
L2    3    4    5
L3    6    7    8
    id1  id2  id3
L1    0    1    2
L2    3    4    5
L3    6    7    8
L4    9    9    9

In [26]:
data = {"name":("张三","李四","王五","赵六"),"sex":("男","女","女","男"),"aged":(20,19,20,21),"score":(80,60,70,90)}
df=DataFrame(data)
df1=df.set_index("name")
df1

     sex  aged  score
name
张三     男    20     80
李四     女    19     60
王五     女    20     70
赵六     男    21     90

# 数据选择

In [29]:
pd=Series([1,2,3,4],index=['a','b','c','d'])
print(pd.index)
print(pd.values)

# 切片
# 下标方式索引
print(pd[2])

# 标签方式索引
print(pd['b'])

Index(['a', 'b', 'c', 'd'], dtype='object')
[1 2 3 4]
3
2

Series对象还支持位置切片和标签切片。<br>
位置切片遵循Python的切片规则，包括起始位置，但不包括结束位置；<br>
但标签切片则同时包括起始标签和结束标签。

In [31]:
pd=Series([1,2,3,4],index=['a','b','c','d'])

print(pd[0:2])
print(pd['a':'c'])

a    1
b    2
dtype: int64
a    1
b    2
c    3
dtype: int64

In [49]:
data = {"name":("张三","李四","王五","赵六"),"sex":("男","女","女","男"),"aged":(20,19,20,21),"score":(80,60,70,90)}
df=DataFrame(data)
df1=df.set_index("name")
# 选取列
print(df['name'])  #选取name列，也可以使用df.name，返回一个Series对象,等价于df.name

print(df[['name','sex']]) # 选取name、sex列，返回一个DataFrame对象
print('\n\n')
# 选取行

print(df1[0:2])
print(df1["张三":"王五"])
print('\n\n')
# 如果要选取单独的几行，可以通过loc属性和iloc属性来实现。loc属性是按照行索引标签选取数据，iloc属性是按照行索引位置选取数据。
print(df1.iloc[[0,2]])
print(df1.loc[['张三','王五']])

print('\n\n')
# 选取行、列
print(df1.at['张三','sex'])
print(df1.iat[0,0])

0    张三
1    李四
2    王五
3    赵六
Name: name, dtype: object
  name sex
0   张三   男
1   李四   女
2   王五   女
3   赵六   男



     sex  aged  score
name
张三     男    20     80
李四     女    19     60
     sex  aged  score
name
张三     男    20     80
李四     女    19     60
王五     女    20     70



     sex  aged  score
name
张三     男    20     80
王五     女    20     70
     sex  aged  score
name
张三     男    20     80
王五     女    20     70



男
男

name
张三    False
李四     True
王五     True
赵六    False
Name: sex, dtype: bool

In [58]:
data = {"name":("张三","李四","王五","赵六"),"sex":("男","女","女","男"),"aged":(20,19,20,21),"score":(80,60,70,90)}
df=DataFrame(data)
df1=df.set_index("name")
# 布尔选择
print(df1['sex']=='女')
print('\n\n')
print(df1[df1['sex']=='女'])

print('\n\n')
print(df1[(df1['sex']=='女')&(df1['score']>60)])

name
张三    False
李四     True
王五     True
赵六    False
Name: sex, dtype: bool



     sex  aged  score
name
李四     女    19     60
王五     女    20     70



     sex  aged  score
name
王五     女    20     70

In [60]:
# 增加行
data = {"name":("张三","李四","王五","赵六"),"sex":("男","女","女","男"),"aged":(20,19,20,21),"score":(80,60,70,90)}
df=DataFrame(data)
append_data = {
    "name":"朱八",
    "sex":"男",
    "aged":23,
    "score":65
}
new_df = df.append(append_data,ignore_index = True)
new_df

  name sex  aged  score
0   张三   男    20     80
1   李四   女    19     60
2   王五   女    20     70
3   赵六   男    21     90
4   朱八   男    23     65

In [62]:
# 增加列
new_df["city"] = ["北京","西安","长春","珠海","昆明"]
new_df

  name sex  aged  score city
0   张三   男    20     80   北京
1   李四   女    19     60   西安
2   王五   女    20     70   长春
3   赵六   男    21     90   珠海
4   朱八   男    23     65   昆明

In [64]:
# 删除
new_df.drop(2)

  name sex  aged  score city
0   张三   男    20     80   北京
1   李四   女    19     60   西安
3   赵六   男    21     90   珠海
4   朱八   男    23     65   昆明

In [66]:
# 修改标签
new_df.rename(index={3:2,4:3},columns={'score':'grade'})

  name sex  aged  grade city
0   张三   男    20     80   北京
1   李四   女    19     60   西安
2   王五   女    20     70   长春
2   赵六   男    21     90   珠海
3   朱八   男    23     65   昆明

# 数据运算